body
  padding-top 75px

.navbar-right .navbar-form
  input
    margin-right 10px

.conteiner .jumbotron
    border-radius 20px
.toast-top-right
  top 70px

footer
  padding-left 100px
  padding-right 100px
  p
    border-top 1px solid #2aabd2
    padding-top 10px