.container
    .jumbotron
        h1 BUBA ZORRO
        h2 Best lovers in the world
    .row
        .col-md-6
            .panel.panel-success
                .panel-heading.text-center ZORRO
                .panel-body(ng-include="'partials/main/zorro'")
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center EVA
                .panel-body(ng-include="'partials/main/Eva'")
