.navbar-right(ng-controller="loginCtrl")
    form.navbar-form
        .form-group
            input.form-control(type="text", placeholder="Vavedi Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Vavedi Parola", ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Logvane